[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
aiohttp = "*"
python-dateutil = "*"
reactivex = ">=4.0.4"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"